[user]
	name = sedelmeyer
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = auto
[core]
	editor = nano
[push]
	default = upstream
[credental]
	helper = osxkeychain
